<form class="text-center border border-light p-5" action="#!" style="margin-top: 100px;">
  <input type="email" 
         id="defaultLoginFormEmail" 
         class="form-control mb-4 vertical-space" 
         placeholder="E-mail">

  <input type="password" 
         id="defaultLoginFormPassword" 
         class="form-control mb-4 vertical-space" 
         placeholder="Password">

  <button class="btn btn-info vertical-space login-btn" type="submit">Sign in</button>
  <hr>
  <a href="#">Register</a>
</form>