<div class="row">
       <div class="col-md-8 map-container">
              <app-google-map-img></app-google-map-img>
       </div>
       <div class="login-form-area">
              <app-logo></app-logo>


              <div class="col-md-4 login-form">
                     <form class="text-center border border-light p-5" action="#!" >
                            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4 vertical-space"
                                   placeholder="E-mail">

                            <input type="password" id="defaultLoginFormPassword"
                                   class="form-control mb-4 vertical-space" placeholder="Password">

                            <button class="btn btn-info vertical-space login-btn" 
                                   routerLink="/admin">Sign in</button>
                            <hr>
                            <a [routerLink]="['/register']">Register</a>
                     </form>
              </div>
       </div>
</div>