<form class="text-center border border-light p-5" action="#!" style="margin-top: 100px;">
  <hr>
  <input type="email" 
         id="defaultLoginFormEmail" 
         class="form-control mb-4 vertical-space" 
         placeholder="E-mail">

  <input type="text" 
         id="registerCategory" 
         class="form-control mb-4 vertical-space" 
         placeholder="Category">       

  <input type="password" 
         id="defaultLoginFormPassword" 
         class="form-control mb-4 vertical-space" 
         placeholder="Password">

  <input type="password" 
         id="defaultLoginFormPassword" 
         class="form-control mb-4 vertical-space" 
         placeholder="Confirm Password">
  
  <button class="btn btn-info form-control vertical-space login-btn" (click)="navigateToFinalStep()">Next step</button>
  <hr>
</form>
