<form class="text-center border border-light p-5" action="#!" style="margin-top: 100px;">
  <hr>
  <input type="text" 
         id="registerFirstName" 
         class="form-control mb-4 vertical-space" 
         placeholder="First Name">  

  <input type="text" 
         id="registerLastName" 
         class="form-control mb-4 vertical-space" 
         placeholder="Last Name">

  <input type="text" 
         id="registerAdrress" 
         class="form-control mb-4 vertical-space" 
         placeholder="Address">  

  <button class="btn btn-info form-control vertical-space login-btn" type="submit">Finalize</button>
  <hr>
</form>
