<div class="row">
  <div class="col-xs-9">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
  </div>
  <div class="col-xs-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis modi illum, vero sunt harum veritatis odit ratione ullam minus voluptas iste similique praesentium libero distinctio eaque quos reprehenderit? Dolorum, nemo.
    Est ut, illo nam earum animi odio sunt quisquam doloribus ea obcaecati aspernatur adipisci ipsa dolore officia tempora, quae quidem? Reiciendis a soluta, repellat voluptas pariatur cumque suscipit doloribus quasi.
    Impedit officiis a nam rerum reiciendis, ipsam cum ut aliquid explicabo error repellendus praesentium, ipsa nostrum dolore nesciunt reprehenderit consequatur atque fugiat non quaerat natus. Blanditiis ipsam veniam eum at.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <h3><b>Alimente</b></h3>
  </div>
  <!-- Add here the list that we need to buy!-->
  <!-- Add google maps that points to the address of the selected user-->
</div>
<button class="btn btn-primary" (click)="goBack()">Back</button>