@media (orientation: landscape) {
  .img-setting {
    max-height: 100%;
    max-width: 100%;
    /* margin-top: 75px; */
    margin-left: 10px;
  }
}

@media (orientation: portrait) {
  .img-setting {
    display: none;
  }
}